* {
    margin: 0;
}

#content {
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(5, 150px);
    gap: 32px;
    margin: 32px;
}

/* for project boxes */
#content > div {
    border: solid 1px black;
    border-radius: 5px;
}

.project-drawer {
    background-color: rebeccapurple;
    width: 500px;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    top: 0;
    right: 0;
}


.todo-shell {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.todo-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todo-buttons {
    display: flex;
}

.drawer-controls {
    height: 100px;
    background-color: red;
    align-self: stretch;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.drawer-controls button {
    height: 48px;
    width: 48px;
}

.todo-dialog {
    border: solid 1px black;
    border-radius: 4px;
    width: 400px;
    display: flex;
    gap: 12px;
    padding:12px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}